html {
  height: 100%; #for height
  width: 100%; #for width
}

.button {
  width: 66px;# button tag
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row {# margin tag
  margin: 8px 0;
}

.row input {
  width: 291px;
  font-size: 23px;

  margin: 0;# in pixel
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;

}
