.text-center {
  text-align: center;
}
# background color
.bg-red {
  background: red; # adding the backgrouund color
}

.mx-auto { # tag
  margin: auto;
}

.flex {
  display: flex;

}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
